{% extends 'master.html'%}

{% block content%}
    <div class="container mt-5">
        <form action="{{url_for('login')}}" method="post">
            <div class="mb-3">
              <label  class="form-label">Nom</label>
              <input type="text" name="nom" class="form-control" >
            </div>
            <div class="mb-3">
              <label f class="form-label">Prenoms</label>
              <input type="text" name="prenom" class="form-control">
            </div>
            <div class="mb-3">
                <label  class="form-label">Age</label>
                <input type="number" name="age" class="form-control"/>
              </div>
            <button type="submit" class="btn btn-primary"> Envoyer </button>
          </form>

          <div class="message">
              <p>{{succes}}</p>
          </div>

    </div>
{%endblock%}